.contact-card{
    width:400px;
    padding:5px;
    margin-top:20px;
    border-radius:15px;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    position:relative;
}
.icon-delete-contact{
    position:absolute;
    bottom:5px;
    right:50px;
    cursor:pointer;
    box-shadow:0 0  5px rgba(0,0,0,0.3);
    padding:3px;
    border-radius:50%;
 
}
.icon-edit-contact{
    position:absolute;
    bottom:5px;
    right:10px;
    cursor:pointer;
    box-shadow:0 0  5px rgba(0,0,0,0.3);
    padding:3px;
    border-radius:50%;
}
.contact-name{
    font-size:20px;
  
}
.m-2{
    margin:2px;
}